{% extends 'base.html' %}
{% block page_title %}
Edit Todo - Elabs LLC
{% endblock %}

{% block content %}
<h1>Edit</h1>
{% if item %}
    <form class="d-flex" role="search" method="POST">
        {% csrf_token %}
    <input class="form-control me-2" type="text" placeholder="Type item here.." aria-label="Search"   value="{{item.item}}" name="item">
    <input type="hidden" name="completed" value="{{item.completed}}">
    <button class="btn btn-outline-success" type="submit">Edit todo</button>
    </form>
    
{% else %}
    <p>No todo found with that ID.</p>
{% endif %}
{% endblock %}
